name: Build

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y git gcc-multilib make lib32z-dev libmysqlclient-dev:i386 mariadb-server

      - name: Build with make
        run: make all
